/* GALLERY HEADER */

body {
    background-color: #151515;
}

.gallery-header {
    position: fixed;
    height: 200px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 200;

    display: flex;
    /*display: none;*/
    align-items: center;

    padding: 0 3em;
    background-color: #222222;
}

.gallery-header h2 {
    font-size: 5em;
    color: #FF7800;
}

.gallery-header .zoom-control {
    padding-left: 3em;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.zoom-description {
    font-size: 2em;
    color: #FF7800;
    margin-right: 10px;
}

#zoomLevel {
    width: 300px;
    margin-right: 4em;
}

#zoomLevelIndicator {
    color: #aaa;
    font-size: 3em;
    font-family: 'Dosis', sans-serif;
}

/* GALLERY CONTENT */

.gallery-content {
    margin-top: 200px;
    position: relative;
    height: calc(100vh - 200px);

    overflow-x: hidden;
}

.gallery-content > img {
    cursor: pointer;

    position: absolute;
    object-fit: cover;
    object-position: center;

    transition: top .4s ease-in-out, left .4s ease-in-out, width .4s ease-in-out, height .4s ease-in-out;
}

.gallery-content > img.active {
    visibility: hidden;
}

.gallery-content img:hover {
    position: relative;
    z-index: 199;
    box-shadow: 0 0 30px 0 rgba(255,255,255,.3);
}

.image-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10001;
    display: none;
}

#modal-image {
    position: absolute;
    display: none;
    transition: all .25s ease-out;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 0 60px rgba(255,255,255,.2);
}

#close-modal {
    width: 50px;
    height: 50px;
    font-size: 50px;
    margin: 0;
    padding: 0;

    display: none;
    align-items: center;
    justify-content: center;

    position: absolute;
    cursor: pointer;
    color: #fff;

    text-shadow: 1px 1px 2px rgba(0,0,0,.75);
}
