html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    background-color: #cccccc;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.header,
.about,
.umotvorine {
    height: 100vh;
}

/* HEADER */

.header {
    overflow: hidden;
    background-color: #111111;
}

/* UMOTVOINE */
.umotvorine {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222222;
}

.umotvorine-heading {
    position: relative;
    text-align: center;
    font-size: 5em;
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    width: 100%;
    color: #ccc;
    animation: headingEntry 1.5s linear, headingEntry 1s linear reverse;
    animation-delay: 0s, 9s;
}

.umotvorine-heading::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 5px;
    animation: umotvorineLoader 10s linear;
    background-image: linear-gradient(to right, transparent, #FF7800);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.typing-indicator {
    display: inline-block;
    height: calc(1em - 10px);
    width: 2px;
    background-color: #fff;

    position: relative;
    top: 5px;

    animation: blink 1s linear infinite;
}

/* ABOUT ( "STUDENT" (lol) )*/
.about {
    background-color: #fefefe;
    height: unset;
    padding: 3em;
}

.about-data {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-data .avatar {
    perspective: 1200px;
    position: relative;

    width: 300px;
    height: 300px;

    box-shadow: 0 10px 20px 0 rgba(0,0,0,.4);
    border-radius: 50%;

    cursor: pointer;
}

.about-data .hidden {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
    z-index: 1;
}

.hidden p {
    text-align: center;
    font-size: 2.6em;
    font-family: 'Bilbo Swash Caps', cursive;
}

.about-data img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: all .7s ease-out;
    transform-origin: left center;
    z-index: 2;
    backface-visibility: hidden;
}

.about-data .avatar:hover img {
    transform: rotateY(-79deg);
}


.about-data h2 {
    font-size: 4em;
    font-weight: 700;
}

.about-links {
    display: flex;
    justify-content: center;
}

.about-links a {
    text-decoration: none;
    outline: none;
    margin: 0 30px;
}

.about-links img {
    width: 100px;
    height: 100px;
    transition: all .1s ease-out;
}

.about-links a:hover img {
    transform: scale(1.1);
}

/* NAVIGATION */

.nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    clip-path: circle(0% at 100% 0);
    transition: all .6s ease-in-out;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #131313;

    z-index: 1000;
}

.nav-menu.active {
    clip-path: circle(141.2% at 100% 0);
}

.nav-menu a {
    font-size: 2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #FF7800;
    padding: .3em;

    transition: all .2s ease-out;
}

.nav-menu a:hover {
    transform: scale(1.3);
}

.page-navigation .toggle {
    width: 60px;
    height: 60px;
    background-color: #FF7800;
    border-radius: 50%;
    box-shadow: 0 0 15px 0 rgba(0,0,0,.2);

    position: fixed;
    top: 10px;
    right: 10px;

    cursor: pointer;
    z-index: 1001;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

.page-navigation .toggle .line {
    height: 3px;
    width: 60%;
    background-color: #333;
    margin: 3px 0;
    position: relative;
    transform-origin: center;
    transition: all .3s ease-in-out;
}

.page-navigation .toggle.active .line:first-child {
    transform: translateY(9px) rotateZ(45deg);
}
.page-navigation .toggle.active .line:last-child {
    transform: translateY(-9px) rotateZ(-45deg);
}
.page-navigation .toggle.active .line:nth-child(2) {
    transform: translateX(100px);
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-size: 1.3em;
    text-align: center;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes headingEntry {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes umotvorineLoader {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}















