.wrapper {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url(../img/numbers.jpg);
    background-size: cover;
    background-position: center;
}

.game {
    position: relative;
    height: 100%;
}

.menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    background-color: rgba(255,255,255,.9);
    box-shadow: 0 0 15px 0px #27326B;
    padding: 5em 7em;

    border-radius: 20px;
}

.menu a {
    background-color: transparent;
    border: none;
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    color: #27326B;
    transition: all .2s ease-in-out;
}

.menu a:hover {
    color: #6C7DD6;
}

.starting-timer-dialog {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: 1000;

    align-items: center;
    justify-content: center;
    display: none;
}
.starting-timer-dialog.active {
    display: flex;
}

.starting-timer {
    font-size: 20em;
    font-weight: bold;
    animation: zoomInFade 1s linear infinite;

    font-family: 'Arial', sans-serif;
    color: #27326B;
}

.game-board {
    display: none;
}

.game-field {
    flex-grow: 1;

    width: 640px;
    height: 640px;

    display: flex;
    flex-wrap: wrap;

    perspective: 600px;
    perspective-origin: center center;
}

.time-left {
    font-size: 3em;
    background-color: #fff;
    text-align: center;
}

.seconds {
    font-weight: bold;
    color: #A70000;
    font-family: 'Arial', sans-serif;
}

.number {
    height: 160px;
    width: 160px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #fff;
    border: 1px solid #aaa;

    font-size: 3em;
    font-family: 'Dosis', sans-serif;
    font-weight: 300;

    cursor: pointer;

    position: relative;
    z-index: 2;
    transition: all .2s linear;
}

.number.wrong {
    background-color: red;
}

.number.active {
    background-color: limegreen;
    animation: clickNumber .2s ease-in-out;
    border: 1px solid limegreen;

    position: relative;
    color: #fff;
}

#startGame {
    font-size: .8em;
    margin-top: 30px;
    background-color: #6C7DD6;
    color: #fff;
    padding: .4em .7em;
    text-transform: uppercase;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
}

#startGame:hover,
#startGame:focus {
    background-color: #27326B;
}

.score-modal h2,
.score-modal p {
    margin: 0;
    text-align: center;
}

.score-modal h2 {
    font-weight: normal;
}

.score-modal p {
    font-size: 6rem;
}

.score-modal .actions {
    margin-top: 30px;
}

.score-modal .actions a {
    font-size: .6em;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 10px;
    background-color: #27326B;
    color: #fff;

    padding: .5em .9em;
    border-radius: 10px;

    box-shadow: 0 5px 10px 0 rgba(0,0,0,.3);
}

.score-modal .actions a:hover {
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.6);
}

@keyframes clickNumber {
    0% {
        transform: translateZ(0);
        z-index: 1;
    }

    50% {
        transform: translateZ(-30px);
        z-index: 1;

    }

    100% {
        transform: translateZ(0);
        z-index: 1;
    }
}

@keyframes zoomInFade {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}

